body, html{
  background-color: #F1F1F1;
}

/* input[type=text]{
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus{
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  width:100%;
  transition-duration: .4s;
} */


input[type=text] {
    width: 100px;
    transition: width 1s;
}

input[type=text]:focus {
    width: 100%;
}
.Data input{
  border-bottom: 1px solid black;
  border-right: 2px solid black;
}
